body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
}

#root {
  min-height: 100vh;
}

.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
